/* .box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.box1 {
  width: 400px;
  height: 100vh;
  position: sticky;
  top: 10px;
  background-color:blueviolet;
  overflow: scroll;
}
.box2 {
  position: sticky;
width: 1240px;
height: auto;
background-color:aqua;
overflow: scroll;
} */